@import "tailwindcss";

:root {
    color-scheme: light;
}

/* 기본 스크롤 동작 최적화 */
html,
body {
    height: auto;
    min-height: 100%;
    overscroll-behavior-y: none;
}

/* 모달 활성화 시 배경 스크롤 방지 */
body.modal-active {
    overflow: hidden !important;
    height: 100vh !important;
    position: relative;
    touch-action: none;
    /* 모바일 터치 스크롤 방지 */
}